.bar-block {
    background: #FAFCFF;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 30px;

    &__wgt {}

    &__item {
        padding-bottom: 20px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
    }

    &__head-name {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.03em;
        color: #034257;
    }

    &__head-num {
        font-weight: 200;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #034257;
    }

    &__progress {
        background: #E0EBFC;
        border-radius: 15px;
        height: 25px;
    }

    &__progress-bar {
        background: #2147A4;
        border-radius: 15px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #FEFEFE;
    }
}

.bar-wrapper {
    position: relative;
    cursor: pointer;

    &:hover .bar-wrapper__popup {
        opacity: 1;
    }

    &__popup {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%), #fff;
        box-shadow: 0px 1px 8px rgba(83, 85, 155, 0.176);
        border-radius: 4px;
        opacity: 0;
        transition: all .3s ease-in;
        display: flex;
        align-items: flex-end;
        padding: 5px;

    }

    &__popup-txt {
        font-weight: bold;
        font-size: 16px;
        color: #000000;
        padding-right: 5px;
    }

    &__popup-sub {
        font-weight: normal;
        font-size: 12px;
        color: #000000;
    }
}

.progress-bar[aria-valuenow="0"] {
    color: #fff;
    min-width: 100%;
    background: transparent;
    box-shadow: none;
}